<ion-view class="login-view auth-view" cache-view="false">
  <ion-content has-bouncing="false">
    <div class="form-divider"></div>
    <div class="row row-bottom images-row">
      <div class="col">
        <div class="illustration-container">
          <pre-img ratio="_17_9" helper-class="square-image">
            <img class="illustration-image" ng-src="./img/walkthrough/welcome_illustration.png" spinner-on-load/>
        	</pre-img>
        </div>
      </div>
    </div>
    <div class="form-divider"></div>
    <div class="row form-row">
      <div class="col">        
        <form name="login_form" class="form-container" novalidate>
          <div class="input-list list list-inset">
          
          <div ng-if="!otpFlag">
            <label  class="item item-input">
              <input type="text" placeholder="Mobile Number" name="mobile" ng-model="user.mobile" required maxlength="10">
            </label>

          </div>
          <div ng-if="otpFlag">
            <div class="myOTP">
              {{user.mobile}}
            </div>
            <label ng-if="otpFlag" class="item item-input">
              <input type="text" placeholder="Enter OTP" name="otp" ng-model="user.otp" required>
            </label>
          </div>

          </div>
          <p ng-show="error" class="message error">{{error}}</p>
          <button type="submit" ng-if="!otpFlag" class="button button-block auth-action-button" ng-click="validateNumber()" ng-disabled="login_form.$invalid">
            Proceed
          </button>
          <button type="submit" ng-if="otpFlag" class="button button-block auth-action-button" ng-click="doLogIn()" ng-disabled="login_form.$invalid">
            Log In
          </button>
        </form>
        <div class="alternative-actions">
          <a class="action-link button button-small button-clear" ui-sref="intro.auth-signup()">Sign up</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
