<ion-view class="login-view auth-view" cache-view="false">
  <ion-content has-bouncing="false">

    <div class="row row-bottom images-row row-center">
      <div class="col col-center">
        <div class="illustration-container">
          <pre-img>
            <img class="illustration-image" width="100%" style="max-width: 320px; margin-bottom: 30px; " ng-src="./img/common/white_logo.png" spinner-on-load/>
        	</pre-img>
        </div>
      </div>
    </div>

    <div class="row form-row" style="padding-top: 200px">
      <div class="col">
        <form name="login_form" class="form-container" novalidate>
          <div class="input-list list list-inset">

          <div ng-if="!otpFlag">
            <label  class="item item-input">
              <input type="text" placeholder="Mobile Number" name="mobile" ng-model="user.mobile" required maxlength="10">
            </label>

          </div>
          <div ng-if="otpFlag">
            <div class="myOTP">
              {{user.mobile}} <span class="myWhite icon ion-edit" ng-click="resetNumber()"></span>
            </div>
            <label ng-if="otpFlag" class="item item-input">
              <input type="text" placeholder="Enter OTP" name="otp" ng-model="user.otp" required>
            </label>
          </div>

          </div>
          <p ng-show="error" class="message error">{{error}}</p>
          <p ng-if="isOfflineFlag">PLEASE CONNECT TO INTERNET</p>
          <button type="submit" ng-if="!otpFlag" class="button button-block auth-action-button" ng-click="validateNumber()" ng-disabled="login_form.$invalid">
            Proceed
          </button>
          <button type="submit" ng-if="otpFlag" class="button button-block auth-action-button" ng-click="doLogIn()" ng-disabled="login_form.$invalid">
            Log In
          </button>
        </form>
        <div class="alternative-actions">
          <a class="action-link button button-small button-clear" ui-sref="intro.auth-signup()">Sign Up</a>
          <a class="action-link button button-small button-clear" ui-sref="main.app.feed.arabian()">Skip</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
