<ion-view class="login-view auth-view" cache-view="false">
  <ion-content has-bouncing="false">

    <div class="row row-bottom images-row row-center">
      <div class="col col-center">
        <div class="illustration-container">
          <pre-img>
            <img class="illustration-image" width="100%" style="max-width: 320px; margin-bottom: 30px; " ng-src="./img/common/white_logo.png" spinner-on-load/>
        	</pre-img>
        </div>
      </div>
    </div>

    <div class="row form-row" style="padding-top: 200px">
      <div class="col">
        <form name="signup_form" class="form-container" novalidate>
          <div class="input-list list list-inset">
            <div ng-if="!signupFlag">
            <label class="item item-input">
              <input type="text" placeholder="Name" name="name" ng-model="user.name" required>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Mobile Number" name="mobile" ng-model="user.mobile" required>
            </label>
            <label class="item item-input">
              <input type="text" placeholder="Email" name="email" ng-model="user.email" required>
            </label>
          </div>
          <div ng-if="signupFlag">
            <label class="item item-input">
              <input type="text" placeholder="Enter OTP" name="otp" ng-model="user.otp" required>
            </label>
          </div>
        </div>
          <p ng-show="error" class="message error-signup">{{error}}</p>
          <button type="submit" class="button button-block auth-action-button-signup" ng-if="!signupFlag" ng-click="validateSignUp()" ng-disabled="signup_form.$invalid">
            Proceed
          </button>
          <button type="submit" class="button button-block auth-action-button-signup" ng-if="signupFlag" ng-click="doSignUp()" ng-disabled="signup_form.$invalid">
            Sign Up
          </button>

        </form>
        <div class="alternative-actions">
          <a class="action-link button button-small button-clear" ui-sref="intro.auth-login()">Login</a>
          <a class="action-link button button-small button-clear" ui-sref="main.app.feed.arabian()">Skip</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
