<ion-view class="shopping-cart-view" cache-view="false">
  <ion-header-bar class="shopping-cart-header">
    <div class="buttons">
      <button class="button button-clear close-button" ng-click="close()">Close</button>
    </div>

    <div class="buttons">
      <button class="button button-clear checkout-button" ui-sref="main.app.checkout()" ng-show="products.length > 0">Proceed</button>
    </div>
  </ion-header-bar>
  <ion-content class="shopping-cart-content" has-bouncing="false">
    <div class="row row-center empty-cart-row" ng-if="products.length == 0">
      <div class="col">
        <h3 class="no-products-title">Your cart is empty.</h3>
        <div class="illustration-container">
          <pre-img ratio="_34_25">
            <img class="illustration-image" ng-src="./img/shopping-cart/cart-empty.png" spinner-on-load/>
          </pre-img>
        </div>
      </div>
    </div>
    <div ng-if="products.length > 0">
      <div class="item item-divider shopping-cart-divider">
        {{ products.length }} {{ products.length === 1 ? 'item' : 'items' }} in Cart
      </div>

      <div class="button-bar padding">
        <a grouped-radio="'delivery'" ng-click="setCheckoutMode('delivery')" ng-model="orderType">Delivery</a>
        <a grouped-radio="'takeaway'" ng-click="setCheckoutMode('takeaway')" ng-model="orderType">Take Away</a>
      </div>

      <div ng-if="orderType == 'takeaway'" style="color: #95a5a6; font-size: 12px; padding: 0px 10px 0px 10px; text-align: center">
        No minimum amount. Parcel charges <tag ng-if="outletSelection['isTaxCollected']"> and VAT</tag> apply.
      </div>

      <div ng-if="orderType == 'delivery'" style="color: #95a5a6; font-size: 12px; padding: 0px 10px 0px 10px; text-align: center">
        Minimum order of Rs. {{outletSelection['minAmount']}}. Parcel charges <tag ng-if="outletSelection['isTaxCollected']"> and VAT</tag> apply.
      </div>

<div class="products-in-cart-row">

    <div class="shopping-cart-view">
    <ul class="list checkout-products">
      <li class="item checkout-product" ng-repeat="product in products track by $index">
        <div class="row">

          <div class="col col-75 col-center">
            <div class="row">
              <span ng-click="removeFromCart(product)" class="icon ion-ios-close-outline myDelete"></span>
              <span class="product-name item-text-wrap" style="color: #2d2d2d; font-weight: 300">{{product.itemName}}</span>
            </div>
            <div class="row" ng-if="product.isCombo">
              <p style="font-size: 10px; color: #707778; padding-left:18px; padding-top: 3px"><tag style="color: #8C8C8C;">{{product.combo}}</tag></p>
            </div>
            <div class="row" ng-if="product.isCustom">
              <p style="font-size: 10px; color: #707778; padding-left:18px; padding-top: 3px">Choice: <tag style="color: #61C68B;">{{product.variant}}</tag></p>
            </div>
            <div class="row">
              <p style="font-size: 10px; color: #707778; padding-left:18px; padding-top: 3px">Rs {{product.itemPrice}}</p>
            </div>
          </div>
          <div class="col col-25">
            <div class="row">
                  <a ng-click="lessCount(product)" class="button button-small button-outline" style="border-top-right-radius: 0; border-bottom-right-radius: 0; color: #61C68B; border:1px solid #61C68B">-</a>
                  <a class="button button-small"  style="color: #FFF; background-color:#61C68B; border-radius: 0; ">{{product.qty}}</a>
                  <a ng-click="addCount(product)" class="button button-small button-outline" style="border-top-left-radius: 0; border-bottom-left-radius: 0; color: #61C68B; border:1px solid #61C68B">+</a>
              <!-- <span ng-click="lessCount(product)" class="icon ion-ios-minus-outline myMinus"></span>
              <span class="product-name">{{product.qty}}</span>
              <span ng-click="addCount(product)" class="icon ion-ios-plus-outline myPlus"></span> -->
            </div>
          </div>

        </div>
      </li>
    </ul>
    </div>



      <ul class="list shopping-bill">
        <li class="item">
          <div class="row">
            <div class="col">
              <span class="bill-item-title">Price Subtotal</span>
            </div>
            <div class="col">
              <span class="bill-item-value">Rs. {{ getSubtotal() | number:2 }}</span>
            </div>
          </div>
        </li>
        <li class="item" ng-if="outletSelection['isTaxCollected']">
          <div class="row">
            <div class="col">
              <span class="bill-item-title">VAT ({{outletSelection['taxPercentage']*100}}%)</span>
            </div>
            <div class="col">
              <span class="bill-item-value">Rs. {{ getTax() | number:2 }}</span>
            </div>
          </div>
        </li>
        <li class="item">
          <div class="row">
            <div class="col">
              <span ng-if="orderType=='delivery'" class="bill-item-title">Parcel Charges ({{outletSelection['parcelPercentageDelivery']*100}}%)</span>
              <span ng-if="orderType=='takeaway'" class="bill-item-title">Parcel Charges ({{outletSelection['parcelPercentagePickup']*100}}%)</span>
            </div>
            <div class="col">
              <span class="bill-item-value">Rs. {{ getParcel() | number:2 }}</span>
            </div>
          </div>
        </li>
        <li class="item bill-total">
          <div class="row">
            <div class="col">
              <span class="bill-item-title">Order Total</span>
            </div>
            <div class="col">
              <span class="bill-item-value">Rs. {{ getTotal() | number:2 }}</span>
            </div>
          </div>
        </li>
      </ul>



      </div>
    </div>
  </ion-content>
</ion-view>
