<ion-view class="feed-food-view feed-sub-view search-view" cache-view="false">
  
  <ion-header-bar class="search-header" ng-if="showSearch">
    <div class="row item-input-inset search-row">
      <div class="col col-90">
        <label class="item-input-wrapper search-label">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" name="search_query" ng-model="search.query">
        </label>
      </div>
      <div class="col">
        <button class="button button-clear cancel-button ion-close" ng-click="resetSearch()">
        </button>
      </div>
    </div>
  </ion-header-bar>

  <ion-content>
    <section ng-include="'views/common/sort-and-filters-bar.html'"></section>
    <div class="products-row">
    <div ng-repeat="maintype in menu">
      <div ng-repeat="submenu in subs = (maintype.subCategories | searchField : 'product.itemName' | filter:search.query)">
      <h1 class="myMenuSubTitle">{{submenu.subType}}</h1>

      <div class="food-product-container" ng-repeat="product in results = (submenu.items | searchField : 'product.itemName' | filter:search.query)">
        <div class="row info-row">
          <div class="col logo-col" ng-if="product.isVeg">
            <span class="icon ion-android-radio-button-on veg"></span>
          </div> 
          <div class="col logo-col" ng-if="!product.isVeg">
            <span class="icon ion-android-radio-button-on nveg"></span>
          </div>             
          <div class="col description-col">
            <div class="row">
              <div class="col data-col">
                <h5 class="product-title">
                  <a class="product-anchor">{{product.itemName}}</a>
                </h5>
                <p class="address-and-price-container">
                  <span class="product-address">{{submenu.subName}}<tag class="myPrice">Rs. {{product.itemPrice}}</tag></span>
                </p>
              </div>
              <div class="col col-10 col-center">
                <button class="button button-small button-outline button-balanced" ng-click="addToCart(product)"><span class="icon ion-plus"></span></button>
              </div>
            </div>
          </div>
        </div>


        </div>
      </div>
        
      </div>
    </div>
    <div class="myFind" ng-if="!showSearch" ng-click="resetSearch()"><span class="icon ion-search"></span></div>
  </ion-content>
</ion-view>
