<ion-view class="feed-food-view feed-sub-view" cache-view="false">
  <ion-content>
    <section ng-include="'views/common/sort-and-filters-bar.html'"></section>
    <div class="products-row">
      <div class="food-product-container" ng-repeat="product in results = products">
        <div class="row info-row">
          <div class="col logo-col" ng-if="product.isVeg">
            <span class="icon ion-android-radio-button-on veg"></span>
          </div> 
          <div class="col logo-col" ng-if="!product.isVeg">
            <span class="icon ion-android-radio-button-on nveg"></span>
          </div>             
          <div class="col description-col">
            <div class="row">
              <div class="col data-col">
                <h5 class="product-title">
                  <a class="product-anchor">{{product.name}}</a>
                </h5>
                <p class="address-and-price-container">
                  <span class="product-address">{{product.type}}<tag class="myPrice">Rs. 120</tag></span>
                </p>
              </div>
              <div class="col col-10 col-center">
                <button class="button button-small button-outline button-balanced" ng-click="addToCart(product)"><span class="icon ion-plus"></span></button>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>
