<ion-view class="feed-view" cache-view="true">
  <ion-header-bar class="feed-header">
    <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px;">
      <button class="button button-clear cart-button" ng-click="goToRewards()">
        <!-- <span class="badge cart-badge">10000</span> -->
      <img class="cart-image" ng-src="./img/feed/wallet-icon.png"/>
      </button>
    </div>

        <div class="buttons" style="position: absolute; top: 5px; left: 42px; bottom: 5px;">
          <button class="button button-clear cart-button" ng-click="showOutlets()">
          <img class="cart-image" ng-src="./img/feed/shop.png"/>
          </button>
        </div>

        <div class="buttons" style="position: absolute; top: 5px; left: 77px; bottom: 5px;">
          <button class="button button-clear cart-button" ng-click="showHelp()">
          <img class="cart-image" ng-src="./img/feed/help.png"/>
          </button>
        </div>

            <div class="buttons" style="position: absolute; top: 5px; left: 110px; bottom: 5px;">
              <button class="button button-clear cart-button" ng-click="callSearch()">
              <img class="cart-image" ng-src="./img/feed/search.png"/>
              </button>
            </div>



    <!-- <div class="logo-container">
      <img class="logo-image" ng-src="./img/feed/logo.png"/>
    </div> -->
    <div class="buttons">
      <button class="button button-clear cart-button" ui-sref="main.app.shopping-cart()">
        <span class="badge cart-badge">{{getProductsInCart()}}</span>
        <img class="cart-image" ng-src="./img/feed/cart-icon.png"/>
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="categories-feeds-content" overflow-scroll="true" has-bouncing="false" delegate-handle="feeds-content">
    <sliding-list style="background: #c52031">
    	<ul center-edges class="sliding-list">
        <sliding-item state="main.app.feed.arabian" id="arabianSlide">
          <a nav-transition="android" ui-sref="main.app.feed.arabian()">Arabian</a>
        </sliding-item>
        <sliding-item state="main.app.feed.chinese">
          <a nav-transition="android" ui-sref="main.app.feed.chinese()">Chinese</a>
        </sliding-item>
        <sliding-item state="main.app.feed.indian">
          <a nav-transition="android" ui-sref="main.app.feed.indian()">Indian</a>
        </sliding-item>
        <sliding-item state="main.app.feed.dessert">
          <a nav-transition="android" ui-sref="main.app.feed.dessert()">Desserts</a>
        </sliding-item>
    	</ul>
    </sliding-list>
    <ion-nav-view name="category-feed" class="category-feed"></ion-nav-view>
  </ion-content>
</ion-view>
