<ion-view class="checkout-view" cache-view="false">
  <ion-header-bar class="checkout-header">
    <div class="buttons">
      <button class="button button-clear cancel-button" ng-click="cancel()">Cancel</button>
    </div>
    <h1 class="title">Checkout</h1>
  </ion-header-bar>
  <ion-content has-bouncing="false" class="checkout-content">

  <div ng-if="checkoutMode == 'takeaway'">
    <h3 class="checkout-sub-title" style="font-weight: 300; font-size: 14px; text-align: center; padding-bottom: 0px">We have set the pickup location to your nearest outlet. Change it if you want to.</h3>
    <div class="row address-row">
      <!-- Pickup location Chooser -->
      <div class="address-chooser" ng-click="openOutletPopover($event)" style="width: 100%">
        <button class="button button-block icon-right addresses-popover-button-forlocation" style="background: #c0392b; color: #FFF; " ng-class="{'ion-chevron-up': city_popover.isShown(), 'ion-chevron-down' : !city_popover.isShown()}">
          {{data.selected_outlet.name || 'Select Outlet'}}
        </button>
      </div>
    </div>
  </div>

  <div ng-if="checkoutMode == 'delivery'">
    <h3 class="checkout-sub-title">Delivery Information</h3>
    <div class="row address-row">
      <div class="col">
        <div class="address-chooser">
          <a class="button button-block icon-right ion-chevron-right choose-addresses-button" ng-class="{'aa': addresses_popover.isShown(), 'bb' : !addresses_popover.isShown()}" ui-sref="main.app.checkout.address()">{{getSelectedAddress() || 'Delivery Address'}}</a>
        </div>
      </div>
    </div>
  </div>

    <h3 class="checkout-sub-title">Payment Information</h3>
    <div class="row promo-code-row">
      <div class="col">
        <label class="item item-input promo-item">
          <span class="input-label">Promo Code</span>
          <input type="text">
        </label>
      </div>
    </div>

    <h3 class="checkout-sub-title">YOUR ORDER</h3>
    <ul class="list checkout-products">
      <li class="item checkout-product" ng-repeat="product in products track by $index">
        <div class="row">
          <div class="col col-67 col-center">
            <span class="product-name">{{product.itemName}}<tag ng-if="product.isCustom" style="font-size: 70%; color: #7f8c8d; padding-left: 3px;">({{product.variant}})</tag></span>
          </div>
          <div class="col col-10 col-center">
            <span class="product-name">x {{product.qty}}</span>
          </div>
          <div class="col col-center">
            <span class="product-price">Rs {{product.itemPrice}}</span>
          </div>
        </div>
      </li>
    </ul>
    <ul class="list checkout-bill">
      <li class="item">
        <div class="row">
          <div class="col">
            <span class="bill-item-title">Price Subtotal</span>
          </div>
          <div class="col">
            <span class="bill-item-value">Rs {{ getSubtotal() | number:2 }}</span>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col">
            <span class="bill-item-title">Estimated Taxes</span>
          </div>
          <div class="col">
            <span class="bill-item-value">Rs {{ getTax() | number:2 }}</span>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="row">
          <div class="col">
            <span class="bill-item-title">Container Charges</span>
          </div>
          <div class="col">
            <span class="bill-item-value">FREE</span>
          </div>
        </div>
      </li>
      <li class="item bill-total">
        <div class="row">
          <div class="col">
            <span class="bill-item-title">Order Total</span>
          </div>
          <div class="col">
            <span class="bill-item-value">Rs {{ getTotal() | number:2 }}</span>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar class="checkout-footer">
    <a class="button button-full place-order-button" ui-sref="main.app.checkout.thanks()">
      Place Order
    </a>
  </ion-footer-bar>
</ion-view>
