<!-- main.app.feed.fashion -->
<ion-view class="checkout-feedback-view" cache-view="false">
  <ion-header-bar class="checkout-thanks-header">
    <h1 class="title">Submit Feedback</h1>
  </ion-header-bar>
  <ion-content has-bouncing="false" class="checkout-thanks-content">
    <div class="row row-center thanks-row">
      <div class="col">
        <h3 class="thanks-title">How was the food?<br>
        <span class="icon ion-android-star-outline" id="star1" ng-click="fillTill(1)"></span>
        <span class="icon ion-android-star-outline" id="star2" ng-click="fillTill(2)"></span>
        <span class="icon ion-android-star-outline" id="star3" ng-click="fillTill(3)"></span>
        <span class="icon ion-android-star-outline" id="star4" ng-click="fillTill(4)"></span>
        <span class="icon ion-android-star-outline" id="star5" ng-click="fillTill(5)"></span>
        </h3>

        <h3 class="thanks-title">Rate the delivery?<br>
        <span class="icon ion-android-star-outline" id="star1" ng-click="fillTill(1)"></span>
        <span class="icon ion-android-star-outline" id="star2" ng-click="fillTill(2)"></span>
        <span class="icon ion-android-star-outline" id="star3" ng-click="fillTill(3)"></span>
        <span class="icon ion-android-star-outline" id="star4" ng-click="fillTill(4)"></span>
        <span class="icon ion-android-star-outline" id="star5" ng-click="fillTill(5)"></span>
        </h3>
        
        <div class="ok-button-outer">
          <a class="button button-block ok-button" ui-sref="main.app.feed.fashion">
            Submit
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
 