<!-- main.app.feed.fashion -->
<ion-view class="checkout-thanks-view" id="pageTrack" cache-view="false">
  <ion-header-bar class="shopping-cart-header" style="background: #e74c3c;">
    <div class="buttons">
      <button class="button button-clear checkout-button" ui-sref="main.app.account.orders()" style="color: #FFF">Back</button>
    </div>
    <h1 class="title" ng-if="track.status" style="color: #FFF">#{{track.response.orderID}}</h1>
  </ion-header-bar>

  <ion-content has-bouncing="false" class="checkout-thanks-content">
    <div class="row thanks-row">
      <div class="col">
      <div class="padding" ng-if="!track.status"><p style="color: #e74c3c; font-size: 18px; text-align: center; margin-top: 50px;">Order Not Found.</p></div>

      <div ng-if="status == 0">
        <h3 class="thanks-title" >Your order is placed. Hold on while we confirm your order.</h3>
        <div class="illustration-container">
          <pre-img ratio="_41_22">
            <img class="illustration-image" ng-src="./img/common/waiting.gif" spinner-on-load/>
          </pre-img>
        </div>
        <div class="ok-button-outer" style="padding-top: 20px; ">
          <a class="button button-block ok-button">
            Cancel Order
          </a>
        </div>
      </div>


      <div ng-if="status == 1">
        <h3 class="time-title" style="color: #7f8c8d">{{track.response.date}}</h3>

          <ul class="timeline" id="timeline">
            <li class="li complete">
              <div class="timestamp">
                <span class="author">{{track.response.timePlace}}</span>
              </div>
              <div class="status">
                <h4>Received</h4>
              </div>
            </li>
            <li class="li complete">
              <div class="timestamp">
                <span class="author">{{track.response.timeConfirm}}</span>
              </div>
              <div class="status">
                <h4>Confirmed</h4>
              </div>
            </li>
            <li class="li">
              <div class="timestamp">
                <span class="author"> - </span>
              </div>
              <div class="status">
                <h4 ng-if="!isTakeAway">Dispatched</h4>
                <h4 ng-if="isTakeAway">Ready</h4>
              </div>
            </li>
            <li class="li">
              <div class="timestamp">
                <span class="author"> - </span>
              </div>
              <div class="status">
                <h4>Completed</h4>
              </div>
            </li>
           </ul>

        <h3 class="thanks-title" style="color: #27ae60; font-weight: 250; font-size: 21px">Your order is confirmed.<br>Our Chef is on it!</h3>
        <div class="illustration-container">
          <pre-img ratio="_41_22">
            <img class="illustration-image" ng-src="./img/common/cooking.png" spinner-on-load/>
          </pre-img>
        </div>
      </div>

      <div ng-if="status == 2">
        <h3 class="time-title" style="color: #7f8c8d">{{track.response.date}}</h3>

        <ul class="timeline" id="timeline">
          <li class="li complete">
            <div class="timestamp">
              <span class="author">{{track.response.timePlace}}</span>
            </div>
            <div class="status">
              <h4>Received</h4>
            </div>
          </li>
          <li class="li complete">
            <div class="timestamp">
              <span class="author">{{track.response.timeConfirm}}</span>
            </div>
            <div class="status">
              <h4>Confirmed</h4>
            </div>
          </li>
          <li class="li complete">
            <div class="timestamp">
              <span class="author">{{track.response.timeDispatch}}</span>
            </div>
            <div class="status">
              <h4 ng-if="!isTakeAway">Dispatched</h4>
              <h4 ng-if="isTakeAway">Ready</h4>
            </div>
          </li>
          <li class="li">
            <div class="timestamp">
              <span class="author"> - </span>
            </div>
            <div class="status">
              <h4>Completed</h4>
            </div>
          </li>
         </ul>

        <h3 class="thanks-title" ng-if="!isTakeAway" style="color: #34495e; font-weight: 250; font-size: 18px">Your order is dispatched thorugh<br>{{track.response.agentName}} ({{track.response.agentMobile}})</h3>
        <h3 class="thanks-title" ng-if="isTakeAway" style="color: #34495e; font-weight: 250; font-size: 18px">Your order is ready for pickup!</h3>
        <div class="illustration-container">
          <pre-img ratio="_41_22">
            <img ng-if="!isTakeAway" class="illustration-image" ng-src="./img/common/bike.gif" spinner-on-load/>
            <img ng-if="isTakeAway" class="illustration-image" ng-src="./img/common/box.jpg" spinner-on-load/>
          </pre-img>
        </div>
      </div>


      <div ng-if="status == 3">
        <h3 class="time-title" style="color: #7f8c8d">{{track.response.date}}</h3>

        <ul class="timeline" id="timeline">
          <li class="li complete">
            <div class="timestamp">
              <span class="author">{{track.response.timePlace}}</span>
            </div>
            <div class="status">
              <h4>Received</h4>
            </div>
          </li>
          <li class="li complete">
            <div class="timestamp">
              <span class="author">{{track.response.timeConfirm}}</span>
            </div>
            <div class="status">
              <h4>Confirmed</h4>
            </div>
          </li>
          <li class="li complete">
            <div class="timestamp">
              <span class="author">{{track.response.timeDispatch}}</span>
            </div>
            <div class="status">
              <h4 ng-if="!isTakeAway">Dispatched</h4>
              <h4 ng-if="isTakeAway">Ready</h4>
            </div>
          </li>
          <li class="li complete">
            <div class="timestamp">
              <span class="author">{{track.response.timeDeliver}}</span>
            </div>
            <div class="status">
              <h4>Completed</h4>
            </div>
          </li>
         </ul>

        <h3 class="thanks-title" style="color: #27ae60; font-weight: 250; margin-bottom: 10px">Your Order is Completed</h3>
        <div class="illustration-container">
          <pre-img ratio="_41_22">
            <img class="illustration-image" ng-src="./img/common/success.gif" spinner-on-load/>
          </pre-img>
        </div>
      </div>


      <div ng-if="status == 5">
        <h3 class="thanks-title" style="color: #e74c3c; font-weight: 250; margin-top: 30px">This order has been cancelled.</h3>
        <h3 class="thanks-title" ></h3>
      </div>


      </div>
    </div>
  </ion-content>
</ion-view>
