<ion-scroll direction="y" ng-controller="FiltersCtrl">
  <div class="card list filter-group">
    <div class="item item-divider">
      Category
    </div>
    <ion-list class="category-filters filter-options-container">
      <ion-radio name="category_filter" ng-model="category_filter" ng-value="'Fashion'">
        <img class="category-icon fashion-icon" ng-src="./img/filters/category-filters_VEG.png"/>
        <span>Pure Vegetarian</span>
      </ion-radio>
      <ion-radio name="category_filter" ng-model="category_filter" ng-value="'RealState'">
        <img class="category-icon real-state-icon" ng-src="./img/filters/category-filters_NON.png"/>
        <span>Non Vegetarian</span>
      </ion-radio>
    </ion-list>
  </div>

  <div class="card list filter-group alt-filter-group">
    <div class="item item-divider">
      Show only
    </div>
    <ion-list class="show-filters filter-options-container">
      <ion-radio name="show_filter" ng-model="show_filter" ng-value="'Restaurants'">South Indian</ion-radio>
      <ion-radio name="show_filter" ng-model="show_filter" ng-value="'Restaurants'">North Indian</ion-radio>
      <ion-radio name="show_filter" ng-model="show_filter" ng-value="'Cafes'">Arabian</ion-radio>
      <ion-radio name="show_filter" ng-model="show_filter" ng-value="'Bars'">Chinese</ion-radio>
    </ion-list>
  </div>
  
</ion-scroll>
