<div class="address-details-container">
  <div class="row">
    <label class="col item item-input item-stacked-label">
      <span class="input-label">Full Name</span>
      <input class="input-data" type="text" ng-model="address.full_name" placeholder="Required">
    </label>
  </div>
  <div class="row">
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">Flat/House No.</span>
      <input class="input-data" type="text" ng-model="address.street" placeholder="Street">
    </label>
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">House Name</span>
      <input class="input-data" type="text" ng-model="address.apt_suite" placeholder="Optional">
    </label>
  </div>
  <div class="row">
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">Landmark</span>
      <input class="input-data" type="text" ng-model="address.city" placeholder="Houston">
    </label>
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">Locality</span>
      <input class="input-data" type="text" ng-model="address.state" placeholder="AK">
    </label>
  </div>
  <div class="row">
    <label class="col item item-input item-stacked-label">
      <span class="input-label">Phone</span>
      <input class="input-data" type="text" ng-model="address.phone" placeholder="+123 55 66 77">
    </label>
  </div>
</div>
