<ion-popover-view class="address-chooser-popover" style="background: #FFF;" ng-class="{'contains-{{ outletListSize }}-items' : true, 'contains-more-than-6-items' : (outletListSize > 5)}">

  <ion-content has-bouncing="false">
    <ion-scroll class="addresses-scroller" direction="y">
      <div class="list addresses-list">

        <ion-list>
          <ion-item ng-repeat="outlet in outletList" ng-click="setOutlet(outlet)" style="background: none; border: 0px; border-bottom: 1px solid #FAFBEB; color: #e74c3c;">
            {{outlet.name}}
          </ion-item>
        </ion-list>

      </div>
    </ion-scroll>

  </ion-content>
</ion-popover-view>
