<ion-view class="food-content-view" cache-view="false">
  <ion-header-bar class="food-content-header">
    <div class="buttons">
      <button class="button button-clear back-button" ng-click="goBack()">Back</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-slide-box class="product-images-slider" show-pager="false">
      <ion-slide>
        <div class="image-container" multi-bg="[product.pictures[0]]">
          <div class="product-illustration-container">
          <h1 style="color: #FFF">Zaitoon {{info.name}}</h1>
          </div>
        </div>
      </ion-slide>
      <ion-slide ng-repeat="product_image in product.pictures.slice(1) track by $index">
        <div class="image-container" multi-bg="[product_image]"></div>
      </ion-slide>
    </ion-slide-box>
    <div class="row brief-info-row">
      <div class="col">
        <h3 class="product-name">Address</h3>
        <h5 class="product-style">{{info.line1}}</h5>
        <h5 class="product-style">{{info.line2}}</h5>
        <h5 class="product-style">{{info.line3}}</h5>
      </div>
    </div>

    <div class="row schedules-and-address-row">
      <div class="col">
        <p>Open Hours : 12 Noon - 11 Night</p>
      </div>
    </div>
    <div class="row address-map-row">
      <div class="col">
        <div class="map-wrapper" data-tap-disabled="true">
          <map center="{{info.lat}},{{info.lng}}" zoom="15" map-type-control="false" street-view-control="false" zoom-control="true" zoom-control-options="{style:'SMALL'}">
            <marker position="{{info.lat}},{{info.lng}}" title="Zaitoon {{info.name}}" visible="true"></marker>
          </map>
        </div>
      </div>
    </div>
      
  
    <div class="row write-review-row">
    	<div class="col">
    		<button class="button button-block new-review-button" ng-click="bookTable('VELACHERI')">
    			BOOK A TABLE
    		</button>
    	</div>
    </div>


    <div class="row all-reviews-row">
      <div class="col">
        <button class="button button-block read-all-reviews-button">
          Contact {{info.mobile}}
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
