<ion-view class="food-content-view" cache-view="false">
  <ion-content>
    <div style="position: relative">
      <button class="button button-clear" ui-sref="main.app.feed.arabian()" style="z-index: 1000; position: absolute; top: 10px; left: 10px;"><img src="img/common/back.png" width="20px" style="position: absolute; right: 5px; top: 5px; left: 5px; padding-top: 5px"></button>
      <ion-slide-box class="product-images-slider" show-pager="true">
        <ion-slide>
          <div class="image-container" multi-bg="[info.pictures[0]]">
            <div class="product-illustration-container">
            <h1 style="color: #FFF">Zaitoon {{info.name}}</h1>
            </div>
          </div>
        </ion-slide>
        <ion-slide ng-repeat="product_image in info.pictures.slice(1) track by $index">
          <div class="image-container" multi-bg="[product_image]"></div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="row brief-info-row">
      <div class="col">
        <h3 class="product-name" style="font-size: 12px; font-weight:200; color: #7f8c8d">Address</h3>
        <h5 class="product-style" style="color: #a71d2b; font-weight: 300">{{info.line1}}</h5>
        <h5 class="product-style" style="color: #a71d2b; font-weight: 300">{{info.line2}}</h5>
        <h5 class="product-style" style="color: #a71d2b; font-weight: 300">{{info.city}}</h5>
      </div>
    </div>

    <div class="row schedules-and-address-row">
      <div class="col">
        <p style="font-weight: 300">Open Hours : 12 Noon - 11 Night</p>
      </div>
    </div>
    <div class="row address-map-row">
      <div class="col">
        <div class="map-wrapper" data-tap-disabled="true">
          <map center="{{info.lat}},{{info.lng}}" zoom="15" map-type-control="false" street-view-control="false" zoom-control="true" zoom-control-options="{style:'SMALL'}">
            <marker position="{{info.lat}},{{info.lng}}" title="Zaitoon {{info.name}}" visible="true"></marker>
          </map>
        </div>
      </div>
    </div>

	<div class="row write-review-row">
    	<div class="col">
    		<button class="button button-block new-review-button" ng-click="launchNavigator(info.lat, info. lng)">
    			Navigate
    		</button>
    	</div>
    </div>
	
	

    <div class="row write-review-row" ng-if="info.isReservationAllowed">
    	<div class="col">
    		<button class="button button-block new-review-button" ng-click="bookTable(info.outlet)">
    			BOOK A TABLE
    		</button>
    	</div>
    </div>

    <div class="row write-review-row" ng-if="!info.isReservationAllowed">
      <div class="col">
        <button class="button button-block new-review-button" disabled>
          Table Reservation Not Available
        </button>
      </div>
    </div>


    <div class="row all-reviews-row">
      <div class="col">
        <a class="button button-block read-all-reviews-button" href="tel:{{info.mobile}}" style="font-size:24px; color: #a71d2b">
          <i class="fa fa-phone"></i> {{info.mobile}}
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
