<div class="row images-row">
  <div class="col">
    <div class="illustration-container">
      <pre-img ratio="_21_13" helper-class="square-image">
        <img class="illustration-image" ng-src="./img/walkthrough/slide_2.png" spinner-on-load/>
      </pre-img>
    </div>
  </div>
</div>
<div class="row copy-row">
  <div class="col">
    <h1 class="welcome-title">Get Exclusive Offers</h1>
    <p class="welcome-paragraph">Zaitoon First customers would get exclusive offers through our App</p>
  </div>
</div>
