//Client Color Scheme
$main_red: #c52031;
$main_red_dark: #a71d2b;
$main_red_darkest: #9f1a28;

$main_grey : #162433;
$main_grey_light : #242b33;

$text_white_dull: #dce1ec;

.veg{
	color: #27ae60;
	font-size: 80%;
}

.nveg{
	color: #e74c3c;
	font-size: 80%;
}

.myPrice{
	color: #8c8f93;
	font-size: 13px;
	font-weight: 400;
}

.noColorButton{
	.button{
		background: none !important;
		&:active{
			background: none !important;
		}
		&:focus{
			background: none !important;
		}
	}
}

.myMinus{
	padding-right: 3px;
}

.myPlus{
	padding-left: 3px;
}

.myTopPadding{
	padding-top: 100px;
}

.myOTP{
	color: #d06f76;
	font-size: 18px;
	text-align: center;
	padding: 10px 0px;
	border-bottom: 1px solid #902B2B;
	margin-bottom: 20px;
}

.myMenuSubTitle{
	padding: 10px 0px 0px 0px;
	color: $main_red;
	font-size: 28px;
	font-weight: 300;
}

.filterIcon{
	background: #c52031;
	background-color: #c52031;
	position: fixed;
	right: 15px; bottom: 10px; z-index: 100;
	width: 40px; height: 40px; border-radius: 40px;
}

.filterIcon :active{
	opacity: 0.5;
}

.myHeaderRed{
	background: $main_red_dark;
	color: #FFF;
}

.myWhiteFont{
	color: #FFF;
	text-align: center;
}

.myDealsImg{
	width: 100%;
}

.myNoPadding{
	padding: 0px;
}

.myResetLink{
	color: #1abc9c;
	float: right;
}

.filterActive{
	color: #e74c3c;
}

.nonActive{
	color: #E5CCCC;
}

.myProceedButton{
	background: #27ae60;
	color: white;
	padding: 10px;
	vertical-align: top;
	box-shadow: none;
	border: none;
}

.button-bar > .button{
  border: none;
  color: #B8B8B8;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  padding-top: 3px;
}
//4F4F4F
.button-positive-zaitoon{
	background: #2ecc71;
	.button{
	color: #FFF;
	}
}

.bookTable{
	width: 100%;
	background: #2980b9;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 10px;
	text-align: center;
}

.bookTable:after{
	background-color: #3498db;
}


.itemOutlet{
	border: none;
	padding: 10px 15px;
	border-bottom: 1px solid #FFF5F3;
	font-size: 14px;
}

.outletTitle{
	margin: 0px;
	margin-bottom: -6px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	font-size: 11px;
	letter-spacing: 1px;
	color: #7f8c8d;
	border-bottom: 1px solid #ecf0f1;
}

.couponButton{
	color: #e74c3c;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	background-color: #faf7dc;
	padding: 0px 10px 0px 15px;
	height: 47px;
	line-height: 47px;
}

.paymentRadio{
	.item {
					border: 1px solid $main_red;
					color: #FFF;
					margin-bottom: 5px;
	}
	.item-radio .item-content {
	  color: $main_red;
		padding: 8px 64px 8px 16px;
	}

	.radio-icon {
		padding: 3px 5px;
	}

	.item-radio input:checked + .radio-content .item-content {
			background: $main_red_dark;
			color: #FFF;
	}
}

.delivery-unavailable-popup{
	background: rgba(0, 0, 0, 0.2);

	.popup{
		border-radius: 2px;
	}
}

// Special Checkbox for Redeem Coins Part
.regular-checkbox {
	content: '\2714';
	-webkit-appearance: none;
	background: none;
	border: 1px solid #c52031;
	color: #A9A9A9;
	//box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
	//box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #a71d2b;
	border: 1px solid #a71d2b;
	//box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #FFF;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 15px;
	position: absolute;
	top: 0px;
	left: 4px;
	color: #FFF;
}
//
// .big-checkbox {
// 	padding: 18px;
// }
//
// .big-checkbox:checked:after {
// 	font-size: 28px;
// 	left: 6px;
// }
