.veg{
	color: #27ae60;
	font-size: 80%;
}

.nveg{
	color: #e74c3c;
	font-size: 80%;
}

.myPrice{
	color: #e67e22;
	padding-left: 5px;
}

.myDelete{
	padding-right: 3px;
	color: #bdc3c7;
}

.myMinus{
	padding-right: 3px;
}

.myPlus{
	padding-left: 3px;
}

.myTopPadding{
	padding-top: 100px;
}

.myOTP{
	color: #902B2B;
	font-size: 18px;
	text-align: center;
	padding: 10px 0px;
	border-bottom: 1px dashed #902B2B;
	margin-bottom: 20px;
}

.myFind{
	position: fixed;
    bottom: 0;
    right: 0;
    font-size: 21px;
    color: #c0392b;
   	border-radius: 20px;
   	border: 1px solid #bdc3c7;
   	padding:8px 10px;
   	margin: 10px;
}
