//Client Color Scheme
$main_red: #c52031;
$main_red_dark: #a71d2b;
$main_red_darkest: #9f1a28;

$text_white_dull: #dce1ec;

.veg{
	color: #27ae60;
	font-size: 80%;
}

.nveg{
	color: #e74c3c;
	font-size: 80%;
}

.myPrice{
	color: #e67e22;
	padding-left: 5px;
}

.noColorButton{
	.button{
		background: none !important;
		&:active{
			background: none !important;
		}
		&:focus{
			background: none !important;
		}
	}
}

.myMinus{
	padding-right: 3px;
}

.myPlus{
	padding-left: 3px;
}

.myTopPadding{
	padding-top: 100px;
}

.myOTP{
	color: #902B2B;
	font-size: 18px;
	text-align: center;
	padding: 10px 0px;
	border-bottom: 1px dashed #902B2B;
	margin-bottom: 20px;
}

.myMenuSubTitle{
	padding: 10px 0px 0px 5px;
	color: #e74c3c;
	font-size: 21px;
	border-bottom: 1px dashed #e74c3c;
}

.myHeaderRed{
	background: #e74c3c;
	color: #FFF;
}

.myWhiteFont{
	color: #FFF;
	text-align: center;
}

.myDealsImg{
	width: 100%;
}

.myNoPadding{
	padding: 0px;
}

.myResetLink{
	color: #1abc9c;
	float: right;
}

.filterActive{
	color: #e74c3c;
}

.nonActive{
	color: #E5CCCC;
}

.myProceedButton{
	background: #27ae60;
	color: white;
	padding: 10px;
	vertical-align: top;
	box-shadow: none;
	border: none;
}

.button-bar > .button{
  border: none;
  color: #B8B8B8;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  padding-top: 3px;
}
//4F4F4F
.button-positive-zaitoon{
	background: #2ecc71;
	.button{
	color: #FFF;
	}
}

.bookTable{
	width: 100%;
	background: #2980b9;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 10px;
	text-align: center;
}

.bookTable:after{
	background-color: #3498db;
}


.itemOutlet{
	border: none;
	padding: 10px 15px;
	border-bottom: 1px solid #FFF5F3;
	font-size: 14px;
}

.outletTitle{
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	font-size: 16px;
	color: #e74c3c;
	border-bottom: 1px dashed #e74c3c;
}

.couponButton{
	color: #e74c3c;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	background-color: #faf7dc;
	padding: 0px 10px 0px 15px;
	height: 47px;
	line-height: 47px;
}

.paymentRadio{
	.item {
					border: 1px solid #27ae60;
					color: #FFF;
					margin-bottom: 5px;
	}
	.item-radio .item-content {
	  color: #BDBDBD;
		padding: 8px 64px 8px 16px;
	}

	.radio-icon {
		padding: 3px 5px;
	}

	.item-radio input:checked + .radio-content .item-content {
			background: #27ae60;
			color: #FFF;
	}
}

.delivery-unavailable-popup{
	background: rgba(0, 0, 0, 0.2);

	.popup{
		border-radius: 2px;
	}
}
